$appear-transition-opacity: 300ms;
$appear-transition-transform: 10000ms;

:root {
  --background-color: #faf8f6;
  --font-family-cardo: 'Cardo', serif;
  --font-color-main: #141414;
  --header-main-mobile-height: 3rem;
  --header-main-full-height: 6rem;
}
