.page-schedule {
  section:first-of-type::after {
    background-image: url(../../images/leaves-to-the-right.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    content: " ";
    display: table;
    margin: auto;
    width: 81%;
    height: 100px;
  }

  .footer-hero-image {
    background-image: url(../../images/hirobun.jpg);
    background-position: 50% 15%;
  }
}
